<div id="main_content">
	<div id="intro_brag">
		<h1 class="no_margin_top">Recognized Excellence</h1>
		Staton Silber is dedictated  to securing and protecting treatment coverage and other benefits to which injured workers are entitled relative to Washington State workers' compensation claims with the Department of Labor and Industries and self-insured employers.  With 30 years combined experience, Natasha Staton and Robert Silber have established an industry-wide reputation for providing superior legal services.
	</div>
	<div class="attorney">
		<p><h3>Natasha Staton</h3><br>
			Contact Natasha:
			Natasha@StatonSilber.com
		</p>
	</div>
	    
	<div class="attorney">
		<p><h3>Robert Silber</h3><br>
			Contact Robert:
			Robert@StatonSilber.com
		</p>
	</div>
	<div id="call_to_action">
		<h4 class="no_margin_bottom">Take action: </h4><br>
		Call Natasha or Robert at 206-519-5740 for a free consultation.  <br>
		Free parking and conveniently located near I-5 and Highway 99 in north Seattle.  <br>
		<a href="https://www.google.com/maps/place/19929+Ballinger+Way+NE+%23101,+Seattle,+WA+98155/@47.773272,-122.308062,17z/data=!3m1!4b1!4m2!3m1!1s0x549010406842e90d:0x2ba78de6f50fc458">
		Directions</a><br>
		Hours: M-F, 9:00a-5:00p excluding holidays
	</div>
</div>  <!--End of div "main_content"-->
