<div id="main_content">
	

	<div id='box1'>

		<div id="intro_brag">
			<h1 class="no_margin_top">Recognized Excellence</h1>
			Staton Silber is dedictated  to securing and protecting treatment coverage and other benefits to which injured workers are entitled relative to Washington State workers' compensation claims with the Department of Labor and Industries and self-insured employers.  With 30 years combined experience, Natasha Staton and Robert Silber have established an industry-wide reputation for providing superior legal services.
		</div>
		<div class="attorney">
			<p><h3>Natasha Staton</h3><br>
				Natasha E. Staton has exclusively represented injured workers since 1993, and was the managing partner for Foster | Staton, P.C. between 2009 and 2014.  She is a member in good standing with the Washington State Bar Association and Washington State Association for Justice (WSAJ), and is also a featured author in WSAJ's Workers' Compensation Deskbook (2009).<br><br>
 
				Ms. Staton is a highly competent, compassionate, and successful advocate for injured workers. She received her undergraduate degree in Political Science from the University of Washington in 1990, and earned her law degree from the University of Puget Sound School of Law, now Seattle University Law School, in 1993.  Natasha is married and enjoys hiking, traveling abroad, and all aspects of the arts including film, live theater, and music. <br><br>
				Contact Natasha:
				Natasha@StatonSilber.com
			</p>
		</div>
		    
		<div class="attorney">
			<p><h3>Robert Silber</h3><br>
				Robert A. Silber has represented injured workers for over 11 years at the Department of Labor an Industries, the Board of Industrial Insurance Appeals, and appellate levels.  For almost a decade he was the primary trial attorney at a medium-size Seattle workers’ compensation firm before recently opening this practice.  <br><br>

				Mr. Silber received his J.D. from DePaul University in Chicago in 2000. He received a Master’s degree in East European Studies from Indiana University in 1996 and a B.A. in Political Science from the University of California at Santa Cruz in 19990.  Following completion of his undergraduate studies and prior to beginning law school, he spent six years living in Hungary, where among various other positions he was as an advisor to the former Hungarian political party, The Alliance of Free Democrats (SZDS).  He also worked in the United States Embassy in Hungary as an Economics Offer after receiving a State Department Fascell Fellowship.  Mr. Silber then served for a short time with the United States Commerce Department in Hungary as a Commercial officer. <br><br>

				Mr. Silber is in good standing with the Washington State Bar Association (WSBA) and the Washington State Association for Justice (WSAJ).  Last year, he was the chairman of the workers’ compensation section of WSAJ and a member of the Legislative Steering Committee.  He is regularly asked to speak on panels and at conferences regarding workers’ compensation issues.  Robert lives in Lake Forest Park with his wife and two kids.  He is excited that his office is only two minutes from his house that will hopefully give him the opportunity to spend more quality time with his family. <br><br>

				Contact Robert:
				Robert@StatonSilber.com
			</p>
		</div>
		<div id="call_to_action">
			<h4 class="no_margin_bottom">Take action: </h4><br>
			Call Natasha or Robert at 206-519-5740 for a free consultation.  <br>
			Free parking and conveniently located near I-5 and Highway 99 in north Seattle.  <br>
			<a href="https://www.google.com/maps/place/19929+Ballinger+Way+NE+%23101,+Seattle,+WA+98155/@47.773272,-122.308062,17z/data=!3m1!4b1!4m2!3m1!1s0x549010406842e90d:0x2ba78de6f50fc458">
			Directions</a><br>
			Hours: M-F, 9:00a-5:00p excluding holidays
		</div>
		<div class="push">
		</div>
	</div> <!--End of div "box1"-->
	

</div>  <!--End of div "main_content"-->
